body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
}
.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 5px;
    border-radius: 12px;   
}

.navbar a#comidas {
    background-color: #4CAF50; /* Green */
}

.navbar a#pautas {
    background-color: #FFD700; /* Yellow */
    color: black;
}


.navbar a:hover {
    opacity: 0.8;
}

main {
    padding: 20px;
}

#plan-nutricional{
    text-align: center;
    max-width: 858px;
  margin: 0 auto;
}

li{
    list-style-type: none;
}

#pautas li{
margin-top: 24px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

div #lista-comidas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 12px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 300px;
    padding: 20px;
    position: relative; /* Para que el cartel se posicione correctamente */
}

.card-body ul li span{
    margin-right: 12px;
}

.event-label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffb6c1; /* Rosa claro */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
}

.card-header {
    text-align: center;
    margin-bottom: 15px;
}

.card-header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.card-body ul {
    list-style: none;
    padding: 0;
}

.card-body li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
}
.card-body li:last-child{
    border-bottom: none;
}
.card-body li span {
    font-weight: bold;
    margin-right: 5px;
}

#registro-comidas{
    text-align: center;
}

#registro-form label, #registro-form input, #registro-form textarea, #registro-form button {
    display: block;
    margin: 0 auto;
    
}

#registro-form input{
    margin-top: 6px;
    margin-bottom: 24px;
}

#registro-form label[for="evento"], input#evento {
            display: inline-block;
        } 

#registro-form textarea {
    max-width: 200px;
}

#registro-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#registro-form button:disabled {
    background-color: grey;

    &:hover{
        background-color: grey;
        cursor: auto;
    }
}

#registro-form button:hover {
    background-color: #367c39;
}

#comidas-registradas {
    margin-top: 56px;
}